/* Variables
 * ========================================================================== */
:root {
  --color_brand_1: #14f4d5;
  --color_brand_2: #0a7466;
  --color_brand_3: #f45714;
  --color_brand_4: #0fb49d;
  --color_error: #f00;
}

/* Layout/General
 * ========================================================================== */

.App {
  text-align: center;
  background: var(--color_brand_1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.authenticate {
  height: 100vh;
  width: 90vw;
  max-width: 30em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authenticate h1 {
  max-width: 4em;
  margin-left: auto;
  margin-right: auto;
}

.authenticate button.secondary {
  max-width: 19em;
  margin-left: auto;
  margin-right: auto;
}

.parent-acct,
.child-acct {
  height: 90vh;
}

.parent-acct {
  overflow-y: scroll;
}

.child-acct {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography
 * ========================================================================== */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

html {
  font-size: 16px;
  font-size: 1rem;
}

body {
  line-height: 1.25;
}

.App {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Luckiest Guy', cursive;
  font-size: 4em;
  line-height: 0.875;
  color: #fff;
  text-shadow: 4px 4px 0 #000;
}

/* Media
 * ========================================================================== */

img {
  max-width: 100px;
  margin: 0 auto;
}

/* Modals
 * ========================================================================== */
.modal {
  display: block;
  max-width: 30em;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 1);
  margin: 0 0 0.5rem;
  padding: 1rem;
  border: 10px solid var(--color_brand_3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
}

.modal input[type='text'],
.modal input[type='email'],
.modal input[type='password'] {
  border: 1px solid #dedede;
}

/* Animations
 * ========================================================================== */

@keyframes bounce {
  0% {
    transform: translate3d(0, -10px, 0);
  }

  50% {
    transform: translate3d(0, 0, 0) scale(1.1, 0.9);
  }

  100% {
    transform: translate3d(0, -10px, 0);
  }
}

img.bounce {
  animation: bounce 1s infinite linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.fadeIn {
  animation: fadeIn 0.25s linear;
}
